@use "./mixin" as *;
@use "./Variable" as *;



.auth-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include flex-center;
  height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  width: 100vw;

  .auth-box {
    height: 90%;
    width: 30%;
    @include flex-center;
    flex-direction: column;

    .logo {
      @include flex-center;
      flex-direction: column;
      img {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin: auto;
      }
    }

    .Auth-main-box {
      border-radius: 1rem;
      padding: 0.7rem;
      height: 60%;
      width: 90%;

      .btn {
        @include flex-center;
        gap: 2rem;
        button {
          @include btnn;
          background-color: rgba(255, 255, 255, 0.132);
          backdrop-filter: blur(8px);
          color: $text-color;
          border: 1px solid rgba(255, 255, 255, 0.315);
          width: 45%;
        }
        .active {
          background-color: #5a67d8;
          color: $text-color;
        }
      }

      .auth-main-container {
        // height: fit-content;
        @include flex-center;
        // background-color: white;
        margin-top: 1rem;
        padding: 0.2rem;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .auth-container {
    .auth-box {
      width: 60%;
    }
  }
}
@media screen and (max-width: 700px) {
  .auth-container {
    .auth-box {
      width: 100%;
    }
  }
}
