@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin btnn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  background-color: #5a67d8;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;


  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(90, 103, 216, 0.4);
  }
}


